.content{
	font-family: 'Raleway', serif;
}


li {
    display: inline;
    list-style: none;
}

.navigation {
    color: #12af5e;
    background-image: url(../images/lens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient( rgba(83, 67, 55, 0.78), rgba(83, 67, 55, 0.78)), url(../images/lens.jpg);
    height: 500px;
}

ul {
    text-align: right;
    position: relative;
    bottom: 350px;
}

li a {
    padding: 30px;
}

h1 {
    display: block
}

.work {
    padding-right: 30px;
    padding-left: 30px;
}
.reg{
	text-align: center;
}