.content{
	font-family: 'Raleway', serif;
}


li {
    display: inline;
    list-style: none;
}

.navigation {
    color: #12af5e;
    background-image: url(../images/lens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient( rgba(83, 67, 55, 0.78), rgba(83, 67, 55, 0.78)), url(../images/lens.jpg);
    height: 600px;
}
nav a:hover{
	background-color:rgba(45, 124, 83, 0.59)d;
}

ul {
    text-align: center;
    position: relative;
    bottom: 500px;
}

li a {
        padding: 50px;


}

h1 {
    display: block
}

.work {
    padding-right: 30px;
    padding-left: 30px;
}
